.modal-space-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 40vw;
}

.modal-space-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 5% 5% 5%;
    /* align-items: center; */
}

.modal-space-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-title {
    color: black;
    font-size: 30pt;
    font-weight: 900;
    margin-top: 3%;
    text-align: center;
}

.modal-description {
    margin-top: 3%;
    width: 90%;
    text-align: center;
}

.modal-error-container {
    margin-left: 2%;
}

.form-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.form-data textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    outline: none;
    resize: vertical;
}


.form-row {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* margin-top: 5%; */
    margin-right: 10%;
    margin-left: 10%;
}

.form-row>label {
    font-weight: 700;
    margin: 3%;
}

.form-row>input {
    margin: 0;
}

.modal-button {
    margin-bottom: 5%;
}

.spaces-display-flex {
    display: flex;
    justify-content: center;
}
