.space{
    box-shadow: 2px 2px 2px 2px rgba(117, 117, 117, 0.281) ;
    /* border: 1px solid black; */
    border-radius: .7rem;
    text-align: center;
    margin:.5rem;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
}
.space:hover{
    box-shadow: 3px 3px 3px 3px rgba(117, 117, 117, 0.281) ;
    cursor:pointer;
}
.space-card-img{
    width:100%;
    height: 2rem;
    object-fit: cover;
}
.space-primary-text{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: .2rem;
    margin-top: .2rem;
    overflow-wrap: break-word;
    width: 100%;
}
.square-space-support-text{
    padding-top: .2rem;
    margin-top: .2rem;
    padding-bottom: 4rem;
    overflow-wrap: anywhere;
}
.square-space-support-text > p{
    text-decoration: none;
}