.space{
    box-shadow: 2px 2px 2px 2px rgba(117, 117, 117, 0.281) ;
    border-radius: .7rem;
    text-align: center;
    margin:.5rem;
}
.space:hover{
    box-shadow: 3px 3px 3px 3px rgba(117, 117, 117, 0.281) ;
}
.space-card-img{
    width:100%;
    height: 2rem;
    object-fit: cover;
}
.support-text{
    padding-bottom: 4rem;
}
/* .spaces-text{

} */
.spaces-banner-left{
    width: 25vw;
}
.spaces-banner-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
}
.spaces-banner{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    border-radius: .23rem;
    width: 40vw;
}