/* TODO Add site wide styles *//* TODO:
    -Add site wide styles
    -GLOBAL COLORS:
        -backgrounds, font, border, boxshadow
*/
*{
    font-family: 'Courier Prime', monospace;
    padding: 0;
    margin: 0;
}

html{
    background-color: rgb(235, 235, 235);
}

.white-background {
    background-color: white;
}
.query{
    color: #00fffa;
}
.quora-font {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.query-logo {
    font-weight: 1000;
    font-size: 300%;
}

.no-underline {
    text-decoration: none;
    /* color: #00fffa */
}

.oval-button{
    border: .1rem solid blue;
    color:blue;
    font-weight: 900;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 70rem;
    padding: .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.oval-button:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.circle-button{
    border: none;
    color:black;
    font-weight: 900;
    font-size: 1.1rem;
    border-radius: 70rem;
    background-color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
}
.circle-button:hover{
    /* background-color: white; */
    box-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
}
.button-order{
    display: flex;
    justify-content: flex-end;
}
.text-area-modal textarea{
    border: none;
    outline: none;
    width: 90%;
    margin: 3px 10px 3px 10px;
    resize: vertical;
}
.answer-formatter{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.reply-formatter{
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
