/* TODO Add site wide styles */
/* TODO:
    -Add site wide styles
    -GLOBAL COLORS:
        -backgrounds, font, border, boxshadow
*/
* {
    font-family: 'Courier Prime', monospace;
    padding: 0;
    margin: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    background-color: rgb(235, 235, 235);
}

.modal-errors {
    color: red;
}

.white-background {
    background-color: white;
}

.query {
    color: #0FF;
}

.quora-font {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.query-logo {
    margin-right: 3rem;
    font-weight: 1000;
    font-size: 300%;
}

.query-logo>a {
    text-decoration: none;
    color: #0FF;
}

.no-underline {
    text-decoration: none;
    /* color: #00fffa */
}

.oval-button-gray {
    border: .1rem solid gray;
    color: gray;
    font-weight: 900;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 70rem;
    padding: .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

.negative-oval-button {
    border: .1rem solid red;
    color: red;
    font-weight: 900;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 70rem;
    padding: .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.negative-oval-button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.oval-button {
    border: .1rem solid blue;
    color: blue;
    font-weight: 900;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 70rem;
    padding: .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.oval-button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.circle-button {
    border: none;
    color: black;
    font-weight: 900;
    font-size: 1.1rem;
    border-radius: 70rem;
    background-color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
}

.circle-button>i {
    display: flex;
}

.circle-button:hover {
    box-shadow: 0px 0px 2px 2px black;
    cursor: pointer;
}

.button-order {
    display: flex;
    justify-content: flex-end;
}

.text-area-modal {
    display: flex;
    justify-content: center;
}

.text-area-modal textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    width: 95%;
    margin: 3px 10px 3px 10px;
    resize: vertical;
}


.answer-formatter {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.reply-formatter {
    max-width: 80%;
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.wrap-break {
    word-wrap: break-word;
}

.other-oval-button {
    border: .1rem solid blue;
    color: blue;
    font-weight: 900;
    height: 38px;
    font-size: 18px;
    background-color: white;
    border-radius: 70rem;
    padding: 5px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.other-oval-button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
