.space-card-container{
    display: flex;
    justify-content: left;
}
.space-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: .5rem;
}
.space-card:hover{
    background-color: rgba(220, 220, 220, 0.205);
    border-radius: .23rem;
    filter: brightness(90%);
    cursor: pointer;
}
.space-image{
    padding-left: 1rem;
    padding-right:1rem;
}
.spce-img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 10%;
}
.space-text{
    padding-left: 1rem;
    padding-right:1rem;
}