.single-space-container {
    display: flex;
    flex-direction: column;
    /* border-bottom: .1rem solid black; */
}
.single-space-banner {
    background-color: grey;
}
.edit-question-tooltip {
    background-color: rgb(255, 255, 255);
    border: .1rem solid black;
    height: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 1rem;
    font-size: .9rem;
}
.hidden {
    display: none;
}
/* .gradient-box{
    background: radial-gradient(whitesmoke, #FFFFED);
    width: 100%;
    height: 40vh;
    padding: 2%;
} */
.single-space-image-container > img{
    height: 20vh;
    width: 11%;
    object-fit: cover;
    border-radius: 27%;
}
.single-space-description{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40vh;
}
.single-space-title{
    font-weight: bolder;
    font-size: 3vw;
}
.edit-space-button{
    position: absolute;
    top: 40vh;
    right: 10rem;
}
.single-space-questions-container{
    display: flex;
    flex-direction: column;
}
.single-space-question-container{
    border:1px solid black;
    padding: 1rem;
}
.single-space-support-text{
    font-size: 2vw;
    padding-top: 1rem;
}
.single-space-question-link{
    font-size: 2vw;
}
.single-space-answers{
    font-size: 1.3vw;
    padding-top: 7px;
}