.single-space-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    /* border-bottom: .1rem solid black; */
}
.single-space-banner {
    background-color:  #FFFFED;
    display: flex;
    justify-content: space-between;
}
.gradient-box{
    margin: 10px;
}

.single-space-image-container > img{
    height: 20vh;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.single-space-title{
    font-weight: bolder;
    font-size: 3vw;
}

.single-space-description{
}

.edit-space-button{
    position: relative;
}

.edit-question-tooltip-container {
    position: absolute;
    right: 3.5vw;
}

.edit-question-tooltip {
    background-color: rgb(255, 255, 255);
    border: .1rem solid black;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 1rem;
    font-size: .9rem;
}

.hidden {
    display: none;
}


.add-space-question-button {
    display: inherit;
    justify-content: center;
    padding: 2%;
}

.add-space-question-button button {
    padding: 10px 10%;
}

.single-space-questions-container{
    display: flex;
    flex-direction: column;
}
.single-space-question-container{
    border:1px solid black;
    padding: 1rem;
    margin-bottom: 2vh;
}
.single-space-support-text{
    font-size: 2vw;
    padding-top: 1rem;
}
.single-space-question-link{
    font-size: 2vw;
}
.single-space-answers{
    font-size: 12pt;
    padding-top: 7px;
}
