.nav-container{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
}
.nav{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
}
.nav-section{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content:space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-section-two{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-profile-button > button{
    margin: 1vw;
    padding: 10px;
    border-radius: 10%;
    border: 2px solid rgba(0, 0, 0, 0.372);
}
.navbar-profile-dropdown-container{
    position: relative;
}
.navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 1px;
    padding: 30px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10%;
}
.hidden {
    display: none;
}
.profile-dropdown-user-link{
    padding-bottom: 20%;
    font-size: 16pt;
}
#profile-dropdown-logout-button > button{
    padding: 5px 50px;
}
