.nav-container{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
}
.nav{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
}
.nav-section{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content:space-between;
}
.nav-section-two{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-dropdown {
    position: absolute;
}
.hidden {
    display: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}