.nav-container{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
}
.nav{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
}
.nav-section{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content:space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-section-two{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-profile-dropdown-container{
    position: relative;
}
.navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 1px;
    padding: 30px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10%;
}
.hidden {
    display: none;
}
.profile-dropdown-user-link{
    padding-bottom: 20%;
    font-size: 16pt;
}
#profile-dropdown-logout-button {
    padding: 5px 50px;
    border: .1rem solid red;
    color:red;
    font-weight: 900;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 70rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-dropdown-logout-button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
