.edit-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    margin-top: 5%;
}

.textarea-border {
    border: none;
    outline: none;
    resize: vertical;
    display: flex;
    justify-content: center;
}

.edit-question-display-flex {
    display: flex;
    justify-content: center;
}

.border {
    border: 2px solid black;
}

.edit-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
